footer{
    position: relative;
    padding: 20px 0;
    line-height: 34px;
    background-color: #f9f6ee;
    color: white;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    border-top: 1px solid gainsboro;
    padding-top: 20px;
    
}

footer span {
    color: goldenrod;
}
