.secao-home {
  background-color: #f9f6ee;
}

table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  border-radius: 4px;
  box-sizing: border-box;
  
}

table caption {
  font-size: 30px;
  font-family: 'Palanquin Dark', sans-serif;
  margin-top: 15px;
  margin-bottom: 10px;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}


th {
  background-color: #4CAF50;
  color: white;
}

td {
  background-color: #f9f9f9;
}

tr:nth-child(odd) {
  background-color:#f6f6f6;
}

tr:nth-child(even) {
  background-color: white;
}

.lista-horarios { /* tag <ul> */
  max-width: 768px;
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  font-family: "Oswald", sans-serif;
  list-style: none;
}

.lista-horarios li { /* tag <li> */
  position: relative;
}

.lista-horarios li h3 { /* subtitulo = <h3> */
  margin-bottom: 20px;
  color: black;
}

.lista-horarios li div { /* tarja = <div> */
  width: 70%;
  height: 1px;
  position: absolute;
  margin: -35px auto;
  right: 0;
  left: 0;
  background-color: #ACACAC
}

.lista-horarios li p,
.texto-marrom { /* paragrafo + span*/
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
}

.texto-marrom {
  color: #c4a47c;
}

.lista-horarios li p {
  color: #ACACAC;
}
