.secao-banner {
    height: 80vh;
    padding-top: 90px;
    display: flex;
    position: relative;

}

.imagem-de-fundo {
    width: 50%;
    background-image: url('../../img/food1.JPEG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.texto-secaoBanner {
    width: 50%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f6ee;
}

.texto-secaoBanner h2 {
    font-size: 50px;
    font-weight: bold;
    color: #111111;
    font-family: 'Palanquin Dark', sans-serif;
    letter-spacing: 2px;
}

.texto-secaoBanner span {
    color: #fbcb0c;
}

.texto-secaoBanner p {
    font-size: 25px;
}

.secao-icone {
    margin-top: 25px;
}


.icone {
    max-width: auto;
    height: 30px;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .imagem-de-fundo {
        width: 0;
    }

    .texto-secaoBanner {
        width: 100%;
    }
}