.secao-cards {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin: 0 auto;
}

.secao-cards div h2 {
    font-family: "Poppins", sans-serif;
    color: #139b51;
    font-size: 30px;
    text-align: center; 
    margin: 20px;   
}

.container-cards {
    background-color: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border-radius: 4px;
    gap: 40px;
}

.container-principal {
    padding-top: 90px;
}

@media (max-width: 600px) {
    .container-cards {
        display: flex;
        flex-direction: column;
    }
}