
.secao-cards {
    max-width: 1324px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin: 0 auto;
}

.container-principal div h2 {
    font-family: "Poppins", sans-serif;
    color: #139b51;
    font-size: 20px;
    text-align: center; 
    margin: 20px;   
    letter-spacing: 5px;
}

.container-principal div h4 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    margin-bottom: 70px;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border-radius: 4px;
    gap: 40px;
}

.container-principal {
    padding-top: 90px;
    background-color: #f9f6ee;
}

.voltar-topo {
    z-index: 99;
    position: fixed;
    bottom: 20px;
    right: 8px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #139b51;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    animation: float;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.voltar-topo img {
    width: 25px;
    height: 25px;
}

.seta{
    border: solid white;
    border-width: 0 7px 7px 0;
    padding: 5px;
    display: inline-block;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

@media (max-width: 600px) {
    .container-cards {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 750px){
    .container-principal div h4{
        font-size: 30px;
    }
}
@media (max-width: 500px){
    .container-principal div h4{
        font-size: 23px;
        margin-bottom: 10px;
    }
    .container-principal div h2{
        font-size: 20px;
    }
}